/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section.overview-hero> .container {
    height: 300px;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}


nav {
    display: inline-block;
    width: 43%;
    margin-left: 254px;
    position: relative;
}

header {
    height: 20px;
    width: auto;
    padding: 30px;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    width: 30%;
    font-size: 18px;
}

nav a {
    color: #6b7280;
    text-decoration: auto;
}

a:hover {
    color: #5A67D8;
}


ul {
    padding: 0;
} 





section.overview-hero img {
    width: 400px;
}

section.overview-hero {
    background-color: #E2E8F0;
    padding: 5%;
    height: 300px;
}








section.learn-about {
    margin-bottom: 50px;
}

.testing-desciption {
    width: 85%;
}

section.learn-about h2, h3 {
    color: #48BB78;
}

section.learn-about h2 {
    font-size: 24px;
    margin-top: 60px;
}

section.learn-about h3 {
    font-size: 21px;
    margin-top: 0px;
}

.card> img {
    width: 282px;
    padding: 10px
}


.cards {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;
}

.card {
    width: 300px;
    height: 535px;
    border: 10px;
    background-color: #ffffff;
    filter: drop-shadow(2px 4px 6px #00000022);
    border: 2px;
    border-style: solid;
    border-color: #E2E8F0;
    border-radius: 5px;
}

.card-body {
    padding: 15px;
}





section.testing {
    height: 350px;
    background-color: #4A5568;
    color: #ffffff;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn {
    color: #ffffff;
    text-decoration: auto;
    background-color: #48BB78;
    padding: 15px 25px;
    border-radius: 5px;
}

section.testing> .container {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}




article> img{
    width:200px;
    border-radius: 100%;
    margin-right: 50px;
}

article{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:60px 0px;
}


.stories> .container> h2 {
    margin-top: 60px; 
    color: #5A67D8;
    font-size: 24px;
}


.article-body> p> a {
    color: #5A67D8;
    text-decoration: none;
}



.article-body> h3 {
    font-size: 18px;
    color: #000000;
}





.message {
    font-size: 14px;
    padding: 10px;
    color: yellow;
}


section.newsletter {
    height: 250px;
    padding: 50px 0px;
    background-color: #48BB78;
    color: #ffffff;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.newsletter> .container {
    width:480px;
}



section.newsletter h3 {
    color: #ffffff;
    text-align: center;
}


input#email {
    width: 300px;
    height: 60px;
    padding: 0px 20px;
    border: none;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    font-size: 18px;
    margin-right: 20px;
}

button.btn {
    width: 140px;
    height: 60px;
    border: none;
    color: #ffffff;
    background-color: #5A67D8;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
}


form {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.newsletter p {
    margin-bottom: 25px;
}



footer {
    height: 50px;
    background-color: #4A5568;
    padding: 20px 20px;
    color: #ffffff;
}